In [1]:
import pandas as pd 
cha_b1m1 = pd.read_csv('E:/PycharmProjects/AI/cc_b1m1.csv')
cha_b2m1 = pd.read_csv('E:/PycharmProjects/AI/cc_b2m1.csv')
cha_b3m1 = pd.read_csv('E:/PycharmProjects/AI/cc_b3m1.csv')
cha = pd.concat([cha_b1m1.iloc[:,1],cha_b2m1.iloc[:,1],cha_b3m1.iloc[:,1]],axis=1)
cha

        cc_b1m1   cc_b2m1   cc_b3m1
0      3.188340 -0.191656  0.003996
1      6.947912 -0.318979 -0.358776
2      5.553427 -1.038122 -0.857274
3      6.416606 -0.676333 -0.545029
4      6.272015 -1.175093 -1.096870
...         ...       ...       ...
15995  2.911097 -0.909363  0.644742
15996  2.673668 -1.021407  0.674767
15997  3.196354 -0.763011  0.467448
15998  3.869191 -0.209452  1.268728
15999  3.394410 -0.399933  1.257618

[16000 rows x 3 columns]

In [3]:
import numpy as np 
tm, tp, tpp, te, tr = np.zeros(len(cha)),np.zeros(len(cha)),np.zeros(len(cha)),np.zeros(len(cha)),np.zeros(len(cha))
for i in range(len(cha)):
    data = np.array(cha['cc_b1m1'][i:i+10])
    tm[i] = np.sum(data)/10
    tp[i] = np.max(data)
    tpp[i] = np.subtract(np.max(data),np.min(data))
    te[i] = np.sum(np.square(data))
    tr[i] = (np.sum(np.sqrt(np.abs(data)))/10)**2
tm

array([6.05870079, 6.41264764, 6.41898888, ..., 1.04599539, 0.72636001,
       0.33944096])

In [4]:
b1_fea = np.vstack((tm,tp,tpp,te,tr)).T
b1_fea.shape

(16000, 5)

In [5]:
tm1, tp1, tpp1, te1, tr1 = np.zeros(len(cha)),np.zeros(len(cha)),np.zeros(len(cha)),np.zeros(len(cha)),np.zeros(len(cha))
for i in range(len(cha)):
    data = np.array(cha['cc_b2m1'][i:i+10])
    tm1[i] = np.sum(data)/10
    tp1[i] = np.max(data)
    tpp1[i] = np.subtract(np.max(data),np.min(data))
    te1[i] = np.sum(np.square(data))
    tr1[i] = (np.sum(np.sqrt(np.abs(data)))/10)**2
b2_fea = np.vstack((tm1,tp1,tpp1,te1,tr1)).T
b2_fea.shape

(16000, 5)

In [6]:
tm2, tp2, tpp2, te2, tr2 = np.zeros(len(cha)),np.zeros(len(cha)),np.zeros(len(cha)),np.zeros(len(cha)),np.zeros(len(cha))
for i in range(len(cha)):
    data = np.array(cha['cc_b3m1'][i:i+10])
    tm2[i] = np.sum(data)/10
    tp2[i] = np.max(data)
    tpp2[i] = np.subtract(np.max(data),np.min(data))
    te2[i] = np.sum(np.square(data))
    tr2[i] = (np.sum(np.sqrt(np.abs(data)))/10)**2
b3_fea = np.vstack((tm2,tp2,tpp2,te2,tr2)).T
b3_fea.shape

(16000, 5)

In [7]:
features = np.concatenate((b1_fea,b2_fea,b3_fea),axis=1)
features.shape

(16000, 15)

In [8]:
features = pd.DataFrame(features,columns=['b1_tm','b1_tp','b1_tpp','b1_te','b1_tr','b2_tm','b2_tp','b2_tpp','b2_te','b2_tr',\
                                  'b3_tm','b3_tp','b3_tpp','b3_te','b3_tr'])
features

,b1_tm,b1_tp,b1_tpp,b1_te,b1_tr,b2_tm,b2_tp,b2_tpp,b2_te,b2_tr,b3_tm,b3_tp,b3_tpp,b3_te,b3_tr
0,6.058701,6.947912,3.759571,377.487601,6.004548,-0.786388,-0.191656,0.983437,7.120390,0.746423,-0.649711,0.003996,1.100866,5.153909,0.579453
1,6.412648,6.947912,1.394485,412.585498,6.407170,-0.861145,-0.318979,0.856114,7.965818,0.841060,-0.750000,-0.358776,0.738095,6.151690,0.730755
2,6.418989,7.011324,1.457897,413.470687,6.413247,-0.913480,-0.676333,0.498760,8.573589,0.907053,-0.784278,-0.465035,0.631835,6.515142,0.772119
3,6.566207,7.025605,0.874227,431.989259,6.563026,-0.907839,-0.676333,0.498760,8.459651,0.901715,-0.769864,-0.465035,0.631835,6.288788,0.757877
4,6.624809,7.025605,0.874227,439.853308,6.621127,-0.947864,-0.690074,0.485019,9.161240,0.943045,-0.802315,-0.465035,0.631835,6.747825,0.792072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,1.604472,3.869191,1.195523,52.332317,0.798983,-0.330317,-0.209452,0.811955,2.656216,0.154278,0.431330,1.268728,0.801281,4.280787,0.207564
15996,1.313362,3.869191,1.195523,43.857829,0.523074,-0.239380,-0.209452,0.811955,1.829276,0.088459,0.366856,1.268728,0.801281,3.865094,0.140847
15997,1.045995,3.869191,0.672837,36.709329,0.313292,-0.137240,-0.209452,0.553559,0.786003,0.038556,0.299379,1.268728,0.801281,3.409783,0.085938
15998,0.726360,3.869191,0.474781,26.492652,0.145117,-0.060938,-0.209452,0.190481,0.203816,0.011882,0.252635,1.268728,0.011110,3.191276,0.050527
15999,0.339441,3.394410,0.000000,11.522016,0.033944,-0.039993,-0.399933,0.000000,0.159946,0.003999,0.125762,1.257618,0.000000,1.581604,0.012576

In [9]:
features.to_csv('E:/PycharmProjects/AI/features1.csv')